.wbox {
    height:100%;
    width:100%;
    min-height:50px;
    margin-bottom:10px;
}

.wbox .content {
    margin:5px;
}

.box-shadow {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.box3dgray {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
}

.brg_orange_3d {
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 ); /* IE6-9 */
    border: 1px solid rgba(255,146,10,1);
}

.brg_wax_3d {
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid rgba(179,190,173,1);
}

.brg_brown_3d {
    background: rgb(243,226,199); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(50%,rgba(193,158,103,1)), color-stop(51%,rgba(182,141,76,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.brg_black_gloss_pipe_3d{
    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.brg_yellow_3d_2 {
    background: rgb(234,185,45); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid rgba(199,152,16,1);
}

.brg_olive_3d {
    background: rgb(98,125,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

}

.brg_green_flat {
    background: rgb(182,224,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(182,224,38,1) 0%, rgba(171,220,40,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,224,38,1)), color-stop(100%,rgba(171,220,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */

}

.brg_green_3d4 {
    background: rgb(248,255,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,255,232,1)), color-stop(33%,rgba(227,245,171,1)), color-stop(100%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}


.wpanel {
  margin-bottom: 20px;
  background-color: #fff;
  /*border: 1px solid transparent;*/
  /*border: 1px solid transparent;*/
   
  border-radius: 4px;
  /*z-index:898;*/
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
}
.wpanel-cursor {
  cursor:pointer;
}
.min-line-height100 {
    min-height:100px;
}

.min-height400 {
    min-height:400px;
}

.min-height700 {
    min-height:700px;
}

.min-height600 {
    min-height:600px;
}

.min-height800 {
    min-height:800px;
}

.min-height900 {
    min-height:900px;
}


.wpanel-body {
  padding: 5px;
  height:100%;
  min-height:250px;
}
.wpanel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wpanel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.wpanel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size:17px;
  font-weight:600;
  color: inherit;
}
.wpanel-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color:gray;
  line-height:130%;
}

.wpanel-description-black {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color:#000;
  line-height:130%;
  min-height:150px;
}

.wpanel-description-normal-black {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color:#000;
  line-height:130%;
  
}

.margin-bottom-10 {
    margin-bottom:10px;
}

.margin-bottom-20 {
    margin-bottom:20px;
}


.wpanel-price {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  font-weight:600;
  color: inherit;
}

.wpanel-date {
  /*margin-top: 30px;*/
  font-size: 13px;
  color: gray;
}

.wpanel-date p {
    line-height:120%;
}

.wpanel-image-thumbnail {
  height:115px;
  width:115px;
  border:solid 1px rgba(179,190,173,1);
  background-color: #fff;
}

.wpanel-image-thumbnail-myomart {
  height:80px;
  width:100px;
  border:solid 1px rgba(179,190,173,1);
  background-color: #fff;
  height:80px;
  max-width:100px;
}

.centered {
    display:table-cell;
    text-align: center; 
    vertical-align: middle;
}

.wpanel-image-thumbnail img {
  max-height:112px;
  width:95%;
}

.wpanel-title > a {
  color: inherit;
}
.wpanel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


.wpanel-trending-container {
   position: relative;
   top: 0;
   left: 0;
   z-index: 999;
}
.wpanel-trending-image-border {
  height:90px;
  width:90px;
  border:solid 1px rgba(179,190,173,1);
  background-color: #fff;
}

.wpanel-trending-title {
  color:rgba(13,13,13,1);
  font-weight:600;
}

.wpanel-trending-no {
  color:#fff;
  font-size:16px;
  font-weight:600;
  position:absolute;
  top:2px;
  left:2px;
  background:#d41111;
  padding:10px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.rounded_corner {
    border-radius: 5px;
}
/*Social Links*/

.social{
	padding: 0px 0px;
}

.social a{
	width: 24px;
	height: 24px;
	margin: 0px 3px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	text-align: center;
}

.wpanel-trending-image-border img {
  width:75%;
}

.width100percent {
    width:100%
}
.tdDate {
    width:90px;
    vertical-align:bottom;
}



.featured .content-wrapper {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2 {
    color: #fff;
}

.featured p {
    font-size: 1.1em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.wpanel-footer-social a {
    display:inline-block;
    width:35px;
    height:35px;
    border-radius:50px;
    font-size:13px;
    color:#fff;
    line-height:35px;
    text-align:center;
    background:#000
    /*color:#fff;
    font-size:13px;
    background:#42f32d;
    padding:10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;*/
    
}

.wpanel-footer-social_circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}